[user]
  name = Michael Stock
  email = mikeastock@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[alias]
  co = checkout
  oc = checkout
  com = checkout main
  ci = commit
  cm = commit -v
  t = status
  s = status
  st = status
  br = branch --sort=-committerdate
  df = diff --color
  dfom = diff origin/main --color
  pl = pull
  p = push
  ad = add --patch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  su = submodule update --init --recursive
  pim = pull --no-rebase origin main
  d = diff
  lc = log -n 1
  wt = worktree
[push]
  default = current
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[color]
  ui = auto
; [color "diff-highlight"]
;   oldNormal = "red bold"
;   oldHighlight = "red bold 52"
;   newNormal = "green bold"
;   newHighlight = "green bold 22"
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[branch "master"]
  remote = origin
  merge = refs/heads/master
[difftool]
  prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[merge]
	conflictstyle = zdiff3

[filter "sqlite3tosql"]
    clean = "f() { tmpfile=$(mktemp); cat - > $tmpfile; sqlite3 $tmpfile .dump; rm $tmpfile; }; f"
    smudge = "f() { tmpfile=$(mktemp); sqlite3 $tmpfile; cat $tmpfile; rm $tmpfile; }; f"
    required = true
