[submodule "plugins/anthropics-skills"]
	path = plugins/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "plugins/steipete-agent-scripts"]
	path = plugins/steipete-agent-scripts
	url = https://github.com/steipete/agent-scripts
[submodule "plugins/mitsuhiko-agent-stuff"]
	path = plugins/mitsuhiko-agent-stuff
	url = https://github.com/mitsuhiko/agent-stuff
[submodule "plugins/openprose-prose"]
	path = plugins/openprose-prose
	url = https://github.com/openprose/prose
[submodule "plugins/rjs-shaping-skills"]
	path = plugins/rjs-shaping-skills
	url = https://github.com/rjs/shaping-skills.git
[submodule "plugins/earendil-works-pi-review"]
	path = plugins/earendil-works-pi-review
	url = https://github.com/earendil-works/pi-review
[submodule "plugins/mattpocock-skills"]
	path = plugins/mattpocock-skills
	url = https://github.com/mattpocock/skills
[submodule "plugins/pbakaus-impeccable"]
	path = plugins/pbakaus-impeccable
	url = https://github.com/pbakaus/impeccable.git
[submodule "plugins/shadcn-improve"]
	path = plugins/shadcn-improve
	url = https://github.com/shadcn/improve
[submodule "plugins/intercom-2x-skills"]
	path = plugins/intercom-2x-skills
	url = https://github.com/intercom/2x-skills.git
[submodule "plugins/kitlangton-skills"]
	path = plugins/kitlangton-skills
	url = https://github.com/kitlangton/skills
