[submodule "plugins/SawyerHood-dev-browser"]
	path = plugins/SawyerHood-dev-browser
	url = https://github.com/SawyerHood/dev-browser.git
[submodule "plugins/anthropics-skills"]
	path = plugins/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "plugins/EveryInc-compound-engineering-plugin"]
	path = plugins/EveryInc-compound-engineering-plugin
	url = https://github.com/EveryInc/compound-engineering-plugin
[submodule "plugins/nicobailon-pi-interview-tool"]
	path = plugins/nicobailon-pi-interview-tool
	url = https://github.com/mikeastock/pi-interview-tool.git
[submodule "plugins/steipete-agent-scripts"]
	path = plugins/steipete-agent-scripts
	url = https://github.com/steipete/agent-scripts
[submodule "plugins/mitsuhiko-agent-stuff"]
	path = plugins/mitsuhiko-agent-stuff
	url = https://github.com/mitsuhiko/agent-stuff
