[submodule "plugins/dev-browser"]
	path = plugins/dev-browser
	url = https://github.com/SawyerHood/dev-browser.git
[submodule "plugins/superpowers"]
	path = plugins/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "plugins/anthropic-skills"]
	path = plugins/anthropic-skills
	url = https://github.com/anthropics/skills.git
[submodule "plugins/compound-engineering"]
	path = plugins/compound-engineering
	url = https://github.com/EveryInc/compound-engineering-plugin
