"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
  "autocomplete-plus": {}
  core:
    audioBeep: false
    debugLSP: true
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Source Code Pro, Menlo, Consolas, DejaVu Sans Mono, monospace"
    scrollPastEnd: true
  "elm-format": {}
  "elm-lens":
    "markup-opacity": 50
  elmjutsu:
    alwaysCompileMain: true
    compileWithDebugger: true
    elmExecPath: "./node_modules/.bin/elm"
    elmTestExecPath: "./node_modules/.bin/elm-test"
    logDebugMessages: true
    reportWarnings: true
  "exception-reporting":
    userId: "30c9e2e2-f67b-4c3c-aaa2-b07df96fc8b2"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "ide-ruby":
    lintLevel: "0"
  "language-elm":
    autocompleteEnabled: false
  "linter-rubocop":
    command: "./bin/standardrb"
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    style:
      animationSpeed: 0
      theme: "one-dark"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        ".babelrc"
      ]
  "ruby-test":
    testAllCommand: "rails test"
    testFileCommand: "rails test {relative_path}"
    testFramework: "test"
    testSingleCommand: "rails test {relative_path}:{line_number}"
  tabs:
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
