packages: [
  "atom-ide-ui"
  "atom-pair"
  "atom-typescript"
  "busy-signal"
  "elm-format"
  "elm-lens"
  "hyperclick"
  "intentions"
  "language-elm"
  "linter"
  "linter-rubocop"
  "linter-ui-default"
  "package-sync"
  "platformio-ide-terminal"
  "prettier-atom"
  "relative-numbers"
  "ruby-block"
  "ruby-test"
  "vim-mode-plus"
  "vim-mode-plus-exchange"
  "vim-mode-plus-keymaps-for-surround"
]
