"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
  "autocomplete-plus": {}
  core:
    audioBeep: false
    debugLSP: true
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
  "elm-lens":
    "markup-opacity": 50
  elmjutsu:
    alwaysCompileMain: true
    reportWarnings: true
  "exception-reporting":
    userId: "30c9e2e2-f67b-4c3c-aaa2-b07df96fc8b2"
  "ide-ruby":
    lintLevel: "0"
  "language-elm":
    autocompleteEnabled: false
  "linter-ui-default":
    panelHeight: 300
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    style:
      animationSpeed: 0
      theme: "one-dark"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        ".babelrc"
      ]
  "ruby-test":
    testAllCommand: "rails test"
    testFileCommand: "rails test {relative_path}"
    testFramework: "test"
    testSingleCommand: "rails test {relative_path}:{line_number}"
  tabs:
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
