packages: [
  "atom-elixir"
  "atom-elixir-formatter"
  "atom-ide-ui"
  "atom-pair"
  "atom-typescript"
  "busy-signal"
  "elixir-cmd"
  "elm-format"
  "elm-lens"
  "elmjutsu"
  "intentions"
  "language-elixir"
  "language-elm"
  "linter"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
  "relative-numbers"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
]
